RewriteEngine On
RewriteRule ^(\w+)/(\w+)/(\w+(\-\w+)*)/?$ index.php?param1=$1&param2=$2&param3=$3 [L]
RewriteRule ^(\w+)/(\w+(\-\w+)*)/?$ index.php?param1=$1&param2=$2 [L]
RewriteRule ^(\w+(\-\w+)*)/?$ index.php?param1=$1 [L]